@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Gurajada&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
}
body header {
  height: calc(-moz-fit-content + 16px);
  height: calc(fit-content + 16px);
  justify-content: space-between;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 1000000;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.5s;
}
body header * {
  margin: 10px;
}
body header div {
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
}
body header div:nth-child(1) img {
  height: 85px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
body header div:nth-child(1) div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
body header div:nth-child(1) div h3 {
  margin: 5px;
}
body header div:nth-child(1) div span {
  display: inline-flex;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  margin: 0;
}
body header div:nth-child(1) div span p {
  display: flex;
  align-items: center;
  margin: 0 10px 0 10px;
  font-size: 40px;
  height: 40px;
}
body header div:nth-child(1) div span img {
  height: 25px;
  margin: 0;
}
body header div:nth-child(1) div span img:nth-child(3) {
  transform: rotateY(180deg);
}
body header div:nth-child(2) button.imgButton {
  background-color: transparent;
  padding: 0;
}
body header div:nth-child(2) button.imgButton img {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
body header div:nth-child(2) button {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #2880f2;
}
body header div:nth-child(2) button,
body header div:nth-child(2) img {
  height: 60px;
  border-radius: 16px;
}
body section:nth-child(2) {
  background: radial-gradient(100% 100% at 50% 100%, #2880f2 0%, #103463 100%);
  width: 100%;
  height: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
body section:nth-child(2) img {
  height: 400px;
}
body section:nth-child(2) div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(23, 23, 23, 0.4039215686);
  padding: 20px;
  border-radius: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
body section:nth-child(2) div * {
  margin: 10px 0 10px 0;
}
body section:nth-child(2) div p {
  width: 600px;
}
body section:nth-child(2) div button {
  background-color: #2880f2;
}
body #nuvem {
  position: absolute;
  overflow: hidden;
  width: calc(100% + 6vw);
  height: 300px;
  background-size: auto 100%, auto 100%;
  background-repeat: repeat-x, repeat-x;
  background-position: 900px, center;
  background-image: url(imagens/nuvens.png), url(imagens/nuvens.png);
  transform: translateX(-6vw) translateY(-150px);
}
body section:nth-child(4) {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  gap: 130px;
  align-items: center;
  background-image: linear-gradient(#2474da 0%, #2880f2 23.91%, #3ab8ff 100%);
  background-size: cover;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
body section:nth-child(4) div:nth-child(1) {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
body #passaros {
  overflow: hidden;
  width: 100%;
  height: 120px;
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: 140px;
  background-image: url(imagens/passaro.png);
}
body #celularesDiv {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
body #textinho {
  background-color: rgba(23, 23, 23, 0.4039215686);
  padding: 20px;
  border-radius: 16px;
  width: 650px;
  gap: 20px;
}
body #celulares {
  width: 100%;
  justify-content: space-evenly;
  display: inline-flex;
}
body #celulares .celular {
  height: 600px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 16px;
}
body #praia {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  width: 100%;
  padding-top: 9vh;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
body #praia #praiaImg {
  width: 100%;
}
body #praia #carrinho {
  right: -9vw;
  bottom: 15vh;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  animation: carrinho 9s normal 0s infinite forwards linear;
}
body #praia #carrinho img {
  width: 9vw;
}
@keyframes carrinho {
  0% {
    right: -9vw;
    bottom: 47%;
  }
  10% {
    bottom: 41%;
  }
  18% {
    bottom: 32%;
    transform: rotateZ(-16deg);
  }
  32% {
    bottom: 1.5%;
    transform: rotateZ(-12deg);
  }
  36% {
    bottom: -1%;
    transform: rotateZ(0deg);
  }
  50% {
    bottom: -1%;
    transform: rotateZ(0deg);
  }
  54% {
    bottom: -1%;
    transform: rotateZ(8deg);
  }
  64% {
    bottom: 10%;
    transform: rotateZ(10deg);
  }
  70% {
    bottom: 14%;
    transform: rotateZ(6deg);
  }
  74% {
    bottom: 15%;
  }
  75% {
    bottom: 14%;
    transform: rotateZ(-7deg);
  }
  81% {
    bottom: 8.5%;
    transform: rotateZ(-10deg);
  }
  85% {
    bottom: 5.5%;
    transform: rotateZ(-8deg);
  }
  90% {
    bottom: -1%;
    transform: rotateZ(0deg);
  }
  100% {
    right: 100vw;
    bottom: -1%;
    transform: rotateZ(0deg);
  }
}
body footer {
  margin-top: -5px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 50px;
  background-color: #fbf0b2;
}
body #scrollArrow {
  width: 1.5vw;
  right: 20px;
  height: 7vh;
  bottom: 20px;
  padding: 20px;
  cursor: pointer;
  position: fixed;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 8px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(imagens/down-long-solid.svg);
}
@keyframes setaPulandoC {
  to {
    transform: translateY(-30%) scaleY(70%) rotateX(0deg);
  }
}
@keyframes setaPulandoB {
  to {
    transform: translateY(30%) scaleY(70%) rotateX(180deg);
  }
}
body .arrowAnimate {
  transform: rotateX(0deg);
  animation: setaPulandoC 0.5s alternate 0s infinite forwards ease-in;
  animation-play-state: running;
}
body #fundo {
  position: fixed;
  background-color: rgba(23, 23, 23, 0.4039215686);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  z-index: 10000000;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body #fundo #cadastro {
  width: 800px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px;
  border-radius: 16px;
  background: radial-gradient(100% 100% at 50% 100%, #45ddff 0%, #2066c2 100%);
}
body #fundo #cadastro #headerCadastro {
  width: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}
body #fundo #cadastro #headerCadastro div {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
body #fundo #cadastro #headerCadastro div #cadastroLogo {
  width: 85px;
}
body #fundo #cadastro #headerCadastro div#fecharCadastro {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #fundo #cadastro #headerCadastro div#fecharCadastro div {
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #f7f7f7;
  border-radius: 10px;
}
body #fundo #cadastro #headerCadastro div#fecharCadastro #div1 {
  transform: rotateZ(45deg);
}
body #fundo #cadastro #headerCadastro div#fecharCadastro #div2 {
  transform: rotateZ(-45deg);
}
body #fundo #cadastro form {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
body #fundo #cadastro form * {
  font-family: "Gurajada";
}
body #fundo #cadastro form div {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
body #fundo #cadastro form div span {
  display: inline-flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  align-items: center;
}
body #fundo #cadastro form div label {
  font-family: "Bellota";
  font-size: x-large;
  transform: translateX(16px) translateY(-5px);
}
body #fundo #cadastro form div input {
  color: #171717;
  height: -moz-fit-content;
  height: fit-content;
  font-size: x-large;
  width: 300px;
  padding: 0 20px;
  border-radius: 16px;
  outline: none;
}
body #fundo #cadastro form div #errorEmail,
body #fundo #cadastro form div #errorRepetirSenha,
body #fundo #cadastro form div #errorSenha {
  display: none;
  color: red;
  font-family: "Bellota";
  border: 2px red solid;
  border-top: none;
  background-color: white;
  padding: 0 5px;
  border-radius: 0 0 10px 10px;
  z-index: 100000000000;
  font-size: large;
  position: absolute;
  bottom: -21.5px;
  left: 16px;
}
body #fundo #cadastro form div #senha,
body #fundo #cadastro form div #repetirSenha {
  width: 270px;
  padding-left: 20px;
  padding-right: 50px;
  caret-color: #2880f2;
}
body #fundo #cadastro form div img {
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
body #fundo #cadastro form input[type=submit] {
  margin: 20px;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  font-size: x-large;
  border-radius: 16px;
}
body #fundo #cadastro form input[type=submit]:disabled {
  cursor: not-allowed;
  background-color: #f7f7f7;
  color: #2880f2;
}
body #fundo #cadastro form input[type=submit]:enabled {
  background-color: #2880f2;
  color: white;
  cursor: pointer;
}
body #fundo2 {
  position: fixed;
  background-color: rgba(23, 23, 23, 0.4039215686);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  z-index: 1000000000000;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body #fundo2 #errCadastro {
  width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px;
  border-radius: 16px;
  background: radial-gradient(100% 100% at 50% 100%, #1a529b 0%, #171717 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
body #fundo2 #errCadastro h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Bellota";
  font-size: xx-large;
  text-align: center;
}
body #fundo2 #errCadastro img {
  width: 105px;
}
body #fundo2 #errCadastro button {
  background-color: #171717;
}
body video {
  width: 70vw;
  background-color: #1a529b;
  border: 0.4vw solid #1a529b;
  border-radius: 2%;
}
body h3 {
  font-family: "Bellota";
  font-size: xx-large;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
body p {
  font-family: "Gurajada";
  font-weight: 100;
  font-size: xx-large;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.3px;
  word-spacing: 1px;
}
body button {
  color: #f7f7f7;
  font-size: xx-large;
  border-radius: 16px;
  padding: 0 25px 0 25px;
  font-family: "Gurajada";
  transition: 0.2s ease-out;
}
body button:hover,
body input[type=submit]:enabled:hover {
  transform: translateX(-2px) translateY(-2px);
  box-shadow: 2px 2px 4px 0 rgba(23, 23, 23, 0.4039215686);
  transition: 0.2s ease-in;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.upArrow {
  transform: rotateX(180deg);
  animation: setaPulandoB 0.5s alternate 0s infinite forwards ease-in;
  animation-play-state: running;
}/*# sourceMappingURL=style.css.map */